.page1 {
    width: 100%;
    height: auto;
    background: #1C2E3B;
}

.page1-text h2 {
    font-weight: 100;
    font-size: 76px;
}

.page1-text h4 {
    font-weight: 100;
    font-size: 15px;
}

.page1-pic img {
    width: 416px;
    height: 498px;
    object-fit: cover;
    margin-top: 9rem;
}

.two {
    width: 690px;
    height: 646px;
    background-image: url(../img/bakery1.webp);
    transform: translate3d(0px, -42.5531px, 0px);
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-left: 3rem;
    margin-top: 2.5rem;
}

.logo {
    padding-left: 26rem;
}